# Database names
USER_DB=user_db
NOTIFICATIONS_DB=notifications_db
ORDER_DB=order_db
PAYMENT_DB=payment_db
INVENTORY_DB=inventory_db

# Database credentials
DB_USER=postgres
DB_PASSWORD=password

# Service URLs (for inter-service communication)
USER_SERVICE_URL=user:50051
INVENTORY_SERVICE_URL=inventory:50051
ORDER_SERVICE_URL=order:50051
PAYMENT_SERVICE_URL=payment:50051
NOTIFICATIONS_SERVICE_URL=notifications:50051
